{% include 'header.html' %}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/imagenes/vikings.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/imagenes/dahmner.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/imagenes/historiaterror.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- catalogo titulos -->
<div class="container tarjetas_">
  <div class="card mb-3 border-info" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../static/imagenes/1899.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">1899</h5>
          <p class="card-text">Los inmigrantes de un barco a vapor que viaja de Londres a Nueva York quedan atrapados en un misterioso acertijo después de encontrar un segundo barco a la deriva en mar abierto.</p>
          <a href="#" class="btn btn-info d-flex justify-content-center">Ver ahora</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3 border-info" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../static/imagenes/merlina.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Merlina</h5>
          <p class="card-text">Mientras asiste a la Academia Nevermore, Merlina Addams intenta dominar su incipiente habilidad psíquica, frustrar una ola de asesinatos y resolver el misterio que involucró a sus padres 25 años atrás.</p>
          <a href="#" class="btn btn-info d-flex justify-content-center">Ver ahora</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3 border-info" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../static/imagenes/manifest.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Manifest</h5>
          <p class="card-text">Cuando el vuelo 828 llega a Nueva York, los pasajeros descubren que, por alguna razón que desconocen, han pasado cinco años en el aire, pero no han envejecido. Los pasajeros se reúnen con sus seres queridos, aunque ya nada será como antes.</p>
          <a href="#" class="btn btn-info d-flex justify-content-center">Ver ahora</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card mb-3 border-info" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../static/imagenes/peakyblinders.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Peaky Blinders</h5>
          <p class="card-text">Gran Bretaña vive la posguerra. Los soldados regresan, se acuñan nuevas revoluciones y nacen bandas criminales en una nación agitada. En Birmingham, una pandilla de gánsters callejeros asciende hasta convertirse en los reyes de la clase obrera.</p>
          <a href="#" class="btn btn-info d-flex justify-content-center">Ver ahora</a>
        </div>
      </div>
    </div>
  </div>
</div>
  




{% include 'footer.html' %}